body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(imagens/empresas.jpg);
    height: 100vh;
    width: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#buttons{
    position: absolute;
    right: 20px;
    top: 15px;
}
.tabela{
    margin: 10px 0px 10px 0px;
}
.tabela label{
    display: block;
    text-align: left;
    margin: 3px;
    color: white;
}
.tabela input{
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
.button{
    padding: 10px;
    font-size: 15px;
    color: white;
    background: transparent;
    border:none;
    border: 1px solid white;
    border-radius: 5px;
    transition: 1s ease;
}
.button:hover{
    color: white;
    background: black;
}
.Texto{
    text-align: center;
    color: white;
    margin-top: 2%;
}
form{
    width: 45%;
    margin: 50px auto;
    text-align: left;
    padding: 20px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
}